@import "reset.css";

body {
  font-family: "Palatino", "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 100%;

  & > header {
    border: 1px solid white;
    padding: 0.4em;                     /* HACK: have to use padding instead of margin */
  }
}

.lab {
  border: 1px solid blue;
  float: left;
  height: 1%;                           /* HACK: clearfix */
  margin: 0.5em;
  overflow: hidden;                     /* HACK: clearfix */

  .toolbox {
    border: 1px solid blue;
    float: left;
    margin: 2em;
    padding-top: 0.5em;                 /* HACK */
    width: 8em;
  }

  .workbench {
    border: 1px solid blue;
    float: left;
    min-height: 10em;
    margin: 2em;
    padding-top: 0.5em;                 /* HACK */
    width: 20em;
  }

  header {
    border: 1px solid blue;
    clear: both;
    margin: 0.5em;
    margin-top: 0em;                    /* HACK */
    min-height: 1em;
  }

  section {
    border: 1px solid blue;
    min-height: 5em;
    margin: 0.5em;
    margin-top: 0em;                    /* HACK */
    padding: 0.5em;

    &.left-sidebar {
      float: left;
      width: 10%;
    }

    &.right-sidebar {
      float: right;
      width: 10%;
    }

    &.main {
      overflow: hidden;                 /* HACK */
    }
  }

  article {
    border: 1px solid red;
    min-height: 1em;
    margin: 0.5em;
  }

  footer {
    border: 1px solid blue;
    clear: both;
    margin: 0.5em;
    min-height: 0.5em;
  }

  .target {
    border: 1px dashed #ccc;
  }

  .dragging {
    box-shadow: 2px 2px 8px #999;
    min-width: 8em;
  }

  .hilight-target {
    background-color: #eeeeee;
  }
}

.html-code {
  border: 1px solid blue;
  margin: 0.5em;
  height: 1%;                           /* HACK: clearfix */
  min-height: 5em;
  overflow: hidden;

  pre {
    font-family: "Courier New", monospace;
    font-size: 80%;
  }
}
